/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    background: #cee7d8;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

img {
    max-width: 100%;
}

body {
    display: table;
    font-weight: 100;
    margin: 0;
    padding: 1em;
    width: 100%;
}

.content {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
}

.podcast-title {
    display: none;
}

.podcast-logo {
    img {
        border: 0.35em solid #fff;
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
        width: 15em;
    }
}

.links {
    font-size: 1.25em;

    a {
        color: red;
    }
}

.what-is-this {
    margin-top: 5em;
}

.footer {
    margin-top: 4em;
}

.episodes-list {
    list-style-type: none;
    display: block;
    margin: 0 auto;
    max-width: 30em;
    text-align: left;
    font-size: 1.25em;
}

.episodes-title {
    font-size: 2em;
}

.episode {
    &__date {
        color: rgba(0, 0, 0, .6);
        font-size: 0.6em;
        text-transform: uppercase;
    }
    &__description {

    }

    &.episode--in-list {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1em;
        margin-bottom: 1em;
        
        .episode__description {
            font-size: 0.8em;
            margin-top: 0;
        }
    }
}

.back-to-index {
    display: block;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .title {
        display: block;
        font-size: 6em;
        margin-top: 1em;
    }

    .links {
        font-size: 1.25em;
    }

    .footer {
        margin-top: 6em;
    }

    .episodes-list {
        font-size: 1.5em;
    }

    .episodes-title {
        font-size: 2em;
    }

    .what-is-this {
        font-size: 1.25em;
        margin-left: auto;
        margin-right: auto;
        max-width: 30em;
    }
}
